/* clock font */
@font-face {
  font-family: "digital-clock-font";
  src: url("put_the_location_to_your_font.ttf or .otf");
}
/* clock font */
/* init */
html{
    width: 100%;
    height: 100%;
}
body {
  width: 100%;
  margin: 0px;
  padding: 0;
  transition-duration: var(--time-short);
  background-color: var(--default-white-background);
}
textarea{
    resize: none;
    overflow: hidden;
    display: block;
}
div {
    box-sizing:border-box;
}

:root {
  --default-nav-bar-background: #0275d8;
  --default-white-background: #cccccc;
  --dark-theme-background: #121212;
  --time-short: 0.3s;
  --time-long: 1s;
  --left-side-bar-width: 120px;
}
/*
header
*/
.header-describe{
    width: 100%;
}
.wrapper {
  transition-duration: var(--time-short);
  background-color: var(--default-white-background);
  max-width: 1024px;
  height: 100%;
  padding: 30px 80px 30px 80px;
}

.dark {
  /* 뒤에나오는 css가 우선순위가 높다.*/
  transition-duration: var(--time-short);
  background-color: var(--dark-theme-background);
  color: yellow;
}
