/* font */
/* https://github.com/O-Kreator/Nyong-timer/blob/main/src/style.css  */
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

.jejumyeongjo * {
  font-family: "Jeju Myeongjo", serif;
}
* {
  font-family: "jejumyeongjo", "serif";
}

/* Variables */

:root {
  --white-theme-background: #ffffff;
  --dark-theme-background: #121212;
  --time-short: 0.1s;
  --time-long: 0.2s;
}

/* init */
html,
body {
  margin: 0;
  box-sizing: border-box;
  transition-duration: var(--time-long);
  width: 100%;
  height: 100%;
  background-color: var(--white-theme-background);
}

body {
  padding: 15px;
}
button {
  border: none;
  outline: none;
}

#theme-toggle-button {
  border-radius: 15px;
  /* background-color:aqua; */
  background-color: ;
}

/* theme */

.dark {
  background-color: var(--dark-theme-background);
}

/* Changing theme accoding to os config */
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-theme-background);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-theme-background);
  }
} */
