/* clock font */
@font-face{
  font-family:'digital-clock-font';
  src: url('put_the_location_to_your_font.ttf or .otf');
 }
 /* clock font */
/* init */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--default-white-background);
}

svg{
  padding: 0;
  margin: 0;
}
div {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button{
  cursor: pointer;
  border: none;
  outline: none;
}


/* init */

/* variable*/

:root {
  --default-nav-bar-background:#0275D8;
  --default-white-background: #cccccc;
  --dark-theme-background: #121212;
  --time-short: .3s;
  --time-long: 1s;
  --left-side-bar-width: 120px;
}
/* variable*/


/* theme */


/* box size */

#full-screen {
  width: 100%;
  height: 100%;
}

.nav-bar {
  width: 100%;
  height: 75px;
  left: 0;
  position: fixed;
  background-color: var(--default-nav-bar-background);
  transition-duration: var(--time-short);
  color: #ccc;
}

.logo-box {
  display: inline-block;
}

.nav-menu {
  display: inline;
  float: right;
}

.nav-li {
  float: left;
  margin: 0 15px 0 15px;
}

.content-wrapper{
  display: flex;
  padding-top: 75px;
  height: 100%;
  flex-direction: column;
  top: 75px;
}
.content-container {
  display: flex;
  flex:1;
  text-align: center;
  flex-direction: row;
}

.left-side-bar {
  display: flex;
  flex: 1;
  width: var(--left-side-bar-width);
  justify-content: center;
}

.content {
  flex: 9;
  display: flex;
  flex-direction: column;
  transition-duration: var(--time-short);
}

#timer{
  display: flex;
  flex: 5;
  align-items: center;
  justify-content: center;
}

.clock-content{
  font-family:'Orbitron';
  font-size: 70px;
  flex:1;
  background-color: var(--default-white-background);
  color: var(--dark-theme-background);
  transition-duration: var(--time-short);
}

.side-menu {
  display: inline-block;
}

.side-menu-li {
  margin: 5px 0 5px 0;
  text-align: center;
}

.todo-container{
  display: flex;
  flex: 0;
  border: .1px solid red;
  transition:all 2s ease-in-out;
  transition-duration: var(--time-short);
  overflow: hidden;
  min-height: 30px;
}

.todo-content{
  flex: 1;
}

.btn-fold{
  position: fixed;
  width: 30px;
  right: 5px;
  height: 30px;
  display: inline;
}
/* change View Btn */
.btn-alram, .btn-stopwatch, .btn-clock{
  width: 100%;
  background-color: var(--default-white-background);
}
.btn-todo-add{
  height: 30px;
}
/* icons */
.fa-clock, .fa-stopwatch, .fa-clock{
  display: block;
  margin: 0;
  font-size: 50px;
}

.dark{
/* 뒤에나오는 css가 우선순위가 높다.*/
  transition-duration: var(--time-short);
  background-color: var(--dark-theme-background);
  color: yellow;
}

nav.dark{
  background-color: #565656;
  color: #fff;
}

/* slider animation */
.open {
  flex: 5;
  transition:all .3s ease-in-out;
  transition-duration: var(--time-short);
}