/* init */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--white-theme-content-background);
}

svg{
  padding: 0;
  margin: 0;
}
div {
  box-sizing: border-box;
  border: 1px solid #ccc;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button{
  cursor: pointer;
  border: none;
  outline: none;
}
/* init */

/* variable*/

:root {
  --white-theme-content-background: #cccccc;
  --dark-theme-content-background: #121212;
  --time-short: .3s;
}
/* variable*/


/* theme */
.dark-content{
  transition-duration: var(--time-short);
  background-color: var(--dark-theme-content-background);
  color: #ccc;
}
.white-content{
  transition-duration: var(--time-short);
  background-color: var(--white-theme-content-background);
  color: #121212;
}


/* box size */

#full-screen {
  width: 100%;
  height: 100%;
}
.nav-bar {
  
}
.logo-box {
  display: inline-block;
}
.nav-menu {
  display: inline;
  float: right;
}
.nav-li {
  float: left;
  margin: 0 15px 0 15px;
}

.content-container {
  display: flex;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.left-side-bar {
  flex: 2;
  display: flex;
  justify-content: center;
}

.content {
  flex: 9;
  display: flex;
  flex-direction: column;
}
#timer{
  display: flex;
  flex: 5;
  align-items: center;
  justify-content: center;
}
#btn-section{
  display: flex;
  justify-content: space-around;
  flex: 1;
}
.side-menu {
  display: inline-block;
}

.side-menu-li {
  margin: 5px 0 5px 0;
  text-align: center;
}


/* change View Btn */
.btn-alram, .btn-stopwatch, .btn-clock{
  width: 100%;
  background-color: #ccc;
}

/* icons */
.fa-clock, .fa-stopwatch, .fa-clock{
  display: block;
  margin: 0;
  font-size: 50px;
}
